server:
  port: 8085

logging:
  include-application-group: false

sso:
  url: http://keycloak:8100
  realm: local_realm
  client: local

spring:
  kafka:
    bootstrap-servers: localhost:29092
    template:
      default-topic: stadtbezirksbudget-cit-backend-local
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${sso.url}/auth/realms/${sso.realm}/protocol/openid-connect/certs
          # adds audience verification - https://docs.spring.io/spring-security/reference/servlet/oauth2/resource-server/jwt.html#_supplying_audiences
          # requires client to be in audience claim, see https://www.keycloak.org/docs/latest/server_admin/#_audience_resolve
          audiences:
            - ${sso.client}
refarch:
  security:
    client-id: ${sso.client}
    user-info-uri: ${sso.url}/auth/realms/${sso.realm}/protocol/openid-connect/userinfo
    logging-mode: all
