server:
  port: 8085

logging:
  include-application-group: false

spring:
  kafka:
    bootstrap-servers: localhost:29092
    template:
      default-topic: stadtbezirksbudget-cit-backend-local
zammad:
  base-path: "localhost:8090"
