{"openapi":"3.1.0","info":{"title":"DBS Ticketing EAI API","description":"Zammad vorgeschaltete EAI, über die die Kommunikation anderer Systeme mit Zammad abläuft.\n\nHas two subsets of API - one <b>internal</b> and one <b>external</b>. The external API are Endpoints that are exposed via API-Gateways to the internet,while the internal API is being used solely by internal services.","version":"1.0"},"servers":[{"url":"https://dbs-ticketing-eai-integration-dbs-ticketing-eai.apps.capk.muenchen.de","description":"Generated server url"}],"tags":[{"name":"Attachments","description":"Endpoints to receive Attachment-Data for downloading."},{"name":"Articles","description":"Reading and Creating Articles in Zammad."},{"name":"Users","description":"Endpoints regarding the reading and creating of Users in Zammad."},{"name":"Actuator","description":"Monitor and interact","externalDocs":{"description":"Spring Boot Actuator Web API Documentation","url":"https://docs.spring.io/spring-boot/docs/current/actuator-api/html/"}},{"name":"Organizations","description":"Reading and manipulating organizations in Zammad."},{"name":"Tickets","description":"Reading and Creating Tickets in Zammad."}],"paths":{"/users":{"get":{"tags":["Users"],"summary":"Find user in Zammad by lhmExtId.","description":"Authorization: READ_USERS","operationId":"getUserByLhmExtId","parameters":[{"name":"lhmExtID","in":"header","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]},"put":{"tags":["Users"],"summary":"Update an existing User with new Data","description":"Authorization: WRITE_USERS","operationId":"updateUserWithUserId","parameters":[{"name":"userid","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]},"post":{"tags":["Users"],"summary":"Create a new User (optionally with lhmExtId)","description":"Authorization: WRITE_USERS\nSemantically, the presence of lhmExtId means that it is a registered citizen; the absence of lhmExtId means that the citizen is/was not registered.\n","operationId":"createUserWithLhmExtId","parameters":[{"name":"lhmExtID","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/organizations/{orgaId}":{"get":{"tags":["Organizations"],"summary":"Get organization by organization-id.","description":"Authorization: READ_ORGAS","operationId":"getOrganization","parameters":[{"name":"orgaId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Organization"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]},"put":{"tags":["Organizations"],"summary":"Update a organization in Zammad.","description":"Authorization: WRITE_ORGAS","operationId":"updateOrganization","parameters":[{"name":"orgaId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrganizationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Organization"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/organizations/{orgaId}/users/{userId}":{"put":{"tags":["Organizations"],"summary":"Add a person to an organization.","description":"Authorization: WRITE_ORGAS","operationId":"addPersonToOrganization","parameters":[{"name":"orgaId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Organization"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]},"delete":{"tags":["Organizations"],"summary":"Remove a person from an organization.","description":"Authorization: WRITE_ORGAS","operationId":"removePersonFromOrganization","parameters":[{"name":"orgaId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Organization"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/v2/tickets":{"post":{"tags":["Tickets"],"summary":"Create a new Ticket.","description":"Customer must be identified by specifying lhmExtID in Header.\nExposes all available attributes.\n\nAuthorization: WRITE_TICKETS","operationId":"createNewTicket","parameters":[{"name":"lhmExtID","in":"header","description":"lhmExtID of customer must be set.","required":false,"schema":{"type":"string"}},{"name":"userid","in":"header","description":"One of lhmExtID or userId must be set.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/CreateTicketDTOV2"},"attachments":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["body"]},"encoding":{"body":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TicketInternal"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/v2/tickets/{ticketID}/articles":{"post":{"tags":["Articles"],"summary":"Create a new Article for a given Ticket.","description":"User can be identified  by lhmExtId, lhmObjectID OR userID. Anonymous access also possible.\nExposes all available attributes.\n\n⚠ Internal Articles can only be created by users with at least an \"Agent\"-Role in Zammad. When giving a user-context, make sure the user has the appropriate rights.\n\nAuthorization: WRITE_TICKETS\n","operationId":"createNewArticle","parameters":[{"name":"ticketID","in":"path","required":true,"schema":{"type":"string"}},{"name":"lhmExtID","in":"header","required":false,"schema":{"type":"string"}},{"name":"lhmObjectID","in":"header","required":false,"schema":{"type":"string"}},{"name":"userid","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/CreateArticleDTOV2"},"attachments":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["body"]},"encoding":{"body":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Article"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/v2/composition/userAndTicket":{"post":{"tags":["Tickets"],"summary":"Create a new User and a corresponding Ticket for this new user.","description":"Exposes all available attributes.\n\nAuthorization: WRITE_TICKETS","operationId":"createNewTicketWithUser","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/CreateUserAndTicketDTOV2"},"attachments":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["body"]},"encoding":{"body":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserAndTicketResponseDTO"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/tickets":{"get":{"tags":["Tickets"],"summary":"Get all Tickets by user.","description":"User must be identified  by lhmExtID OR lhmObjectID.\nExposes all available attributes.\n\nAuthorization: READ_TICKETS","operationId":"getAllTicketsByUser","parameters":[{"name":"lhmExtID","in":"header","description":"One of lhmExtID or lhmObjectID must be set.","required":false,"schema":{"type":"string"}},{"name":"lhmObjectID","in":"header","description":"One of lhmExtID or lhmObjectID must be set.","required":false,"schema":{"type":"string"}},{"name":"authlevel","in":"header","required":false,"schema":{"type":"string","default":"level1"}},{"name":"page","in":"query","description":"Page number of the paged results.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","description":"Number of elements in one page.","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"sortBy","in":"query","description":"Field to sort the results by.","required":false,"schema":{"type":"string"}},{"name":"orderBy","in":"query","description":"Ordering 'asc' or 'desc.","required":false,"schema":{"type":"string","enum":["asc","desc"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/TicketInternal"}}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]},"post":{"tags":["Tickets"],"summary":"Create a new Ticket.","description":"Customer must be identified by specifying lhmExtID in Header.\nExposes all available attributes.\n\nAuthorization: WRITE_TICKETS","operationId":"createNewTicket_1","parameters":[{"name":"lhmExtID","in":"header","description":"lhmExtID of customer must be set.","required":false,"schema":{"type":"string"}},{"name":"userid","in":"header","description":"One of lhmExtID or userId must be set.","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTicketDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketInternal"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/tickets/{ticketID}/articles":{"post":{"tags":["Articles"],"summary":"Create a new Article for a given Ticket.","description":"User can be identified  by lhmExtId, lhmObjectID OR userID. Anonymous access also possible.\nExposes all available attributes.\n\n⚠ Internal Articles can only be created by users with at least an \"Agent\"-Role in Zammad. When giving a user-context, make sure the user has the appropriate rights.\n\nAuthorization: WRITE_TICKETS\n","operationId":"createNewArticle_1","parameters":[{"name":"ticketID","in":"path","required":true,"schema":{"type":"string"}},{"name":"lhmExtID","in":"header","required":false,"schema":{"type":"string"}},{"name":"lhmObjectID","in":"header","required":false,"schema":{"type":"string"}},{"name":"userid","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateArticleDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Article"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/organizations":{"get":{"tags":["Organizations"],"summary":"Find organization in Zammad by datenuebermittlerPseudonymID.","description":"Authorization: READ_ORGAS","operationId":"getOrganizationByDatenuebermittlerPseudonymID","parameters":[{"name":"datenuebermittlerPseudonymID","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Organization"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]},"post":{"tags":["Organizations"],"summary":"Create a new organization in Zammad.","description":"Authorization: WRITE_ORGAS","operationId":"createOrganization","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrganizationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Organization"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/composition/userAndTicket":{"post":{"tags":["Tickets"],"summary":"Create a new User and a corresponding Ticket for this new user.","description":"Exposes all available attributes.\n\nAuthorization: WRITE_TICKETS","operationId":"createNewTicketWithUser_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserAndTicketDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserAndTicketResponseDTO"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/v2/tickets/{ticketId}":{"patch":{"tags":["Tickets"],"summary":"Update Ticket.","description":"User can be identified  by lhmExtId OR lhmObjectID. Anonymous access also possible.\nExposes all available attributes.\n\nAuthorization: WRITE_TICKETS","operationId":"updateTicket","parameters":[{"name":"lhmExtID","in":"header","description":"One of lhmExtID or lhmObjectID can be set.","required":false,"schema":{"type":"string"}},{"name":"lhmObjectID","in":"header","description":"One of lhmExtID or lhmObjectID can be set.","required":false,"schema":{"type":"string"}},{"name":"ticketId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"body":{"$ref":"#/components/schemas/UpdateTicketDTOV2"},"attachments":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["body"]},"encoding":{"body":{"contentType":"application/json"}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TicketInternal"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/tickets/{ticketId}":{"patch":{"tags":["Tickets"],"summary":"Update Ticket.","description":"User can be identified  by lhmExtId OR lhmObjectID. Anonymous access also possible.\nExposes all available attributes.\n\nAuthorization: WRITE_TICKETS","operationId":"updateTicket_1","parameters":[{"name":"lhmExtID","in":"header","description":"One of lhmExtID or lhmObjectID can be set.","required":false,"schema":{"type":"string"}},{"name":"lhmObjectID","in":"header","description":"One of lhmExtID or lhmObjectID can be set.","required":false,"schema":{"type":"string"}},{"name":"ticketId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTicketDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketInternal"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/users/{userID}":{"get":{"tags":["Users"],"summary":"Get user from Zammad by ID.","description":"Authorization: READ_USERS","operationId":"getUserByUserId","parameters":[{"name":"userID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/User"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/users/byEmail/":{"get":{"tags":["Users"],"summary":"Find user in Zammad by email.","description":"Authorization: READ_USERS","operationId":"getUsersByEmail","parameters":[{"name":"email","in":"query","description":"The email to look for.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/User"}}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/tickets/byNummer/{ticketNumber}":{"get":{"tags":["Tickets"],"summary":"Get specific Ticket by Ticket-Nummer.","description":"User can be identified  by lhmExtId OR lhmObjectID. Anonymous access also possible.\nExposes all available attributes.\n\nAuthorization: READ_TICKETS","operationId":"getTicketByNumberWithUser","parameters":[{"name":"ticketNumber","in":"path","required":true,"schema":{"type":"string"}},{"name":"lhmExtID","in":"header","required":false,"schema":{"type":"string"}},{"name":"lhmObjectID","in":"header","required":false,"schema":{"type":"string"}},{"name":"authlevel","in":"header","required":false,"schema":{"type":"string","default":"level1"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketInternal"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/tickets/byId/{ticketID}":{"get":{"tags":["Tickets"],"summary":"Get specific Ticket by Ticket-ID.","description":"User can be identified by lhmExtId OR lhmObjectID. Anonymous access also possible.\nExposes all available attributes.\n\nAuthorization: READ_TICKETS","operationId":"getTicketByIdWithUser","parameters":[{"name":"ticketID","in":"path","required":true,"schema":{"type":"string"}},{"name":"lhmExtID","in":"header","required":false,"schema":{"type":"string"}},{"name":"lhmObjectID","in":"header","required":false,"schema":{"type":"string"}},{"name":"authlevel","in":"header","required":false,"schema":{"type":"string","default":"level1"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketInternal"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/attachments/{ticketID}/{articleID}/{attachmentID}":{"get":{"tags":["Attachments"],"summary":"Get Attachment of given article id from given ticket id by given attachment id.","description":"Receives the attachment with the ID attachmentID of the article articleID from the ticket ticketID and forwards it as a binary data stream.","operationId":"getAttachment","parameters":[{"name":"ticketID","in":"path","required":true,"schema":{"type":"string"}},{"name":"articleID","in":"path","required":true,"schema":{"type":"string"}},{"name":"attachmentID","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"default":{"description":"Attachment as binary data.","content":{"*/*":{"schema":{"type":"string","format":"octet-stream"}}}}},"security":[{"dbs-ticketing-eai-secscheme":[]}]}},"/actuator":{"get":{"tags":["Actuator"],"summary":"Actuator root web endpoint","operationId":"links","responses":{"200":{"description":"OK","content":{"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Link"}}}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Link"}}}},"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/Link"}}}}}}}}},"/actuator/metrics":{"get":{"tags":["Actuator"],"summary":"Actuator web endpoint 'prometheus'","operationId":"scrape","parameters":[{"name":"format","in":"query","schema":{"type":"string","enum":["CONTENT_TYPE_004","CONTENT_TYPE_OPENMETRICS_100","CONTENT_TYPE_PROTOBUF"]}},{"name":"includedNames","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain;version=0.0.4;charset=utf-8":{"schema":{"type":"object"}},"application/openmetrics-text;version=1.0.0;charset=utf-8":{"schema":{"type":"object"}},"application/vnd.google.protobuf;proto=io.prometheus.client.MetricFamily;encoding=delimited":{"schema":{"type":"object"}}}}}}},"/actuator/info":{"get":{"tags":["Actuator"],"summary":"Actuator web endpoint 'info'","operationId":"info","responses":{"200":{"description":"OK","content":{"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}},"application/json":{"schema":{"type":"object"}}}}}}},"/actuator/health":{"get":{"tags":["Actuator"],"summary":"Actuator web endpoint 'health'","operationId":"health","responses":{"200":{"description":"OK","content":{"application/vnd.spring-boot.actuator.v3+json":{"schema":{"type":"object"}},"application/vnd.spring-boot.actuator.v2+json":{"schema":{"type":"object"}},"application/json":{"schema":{"type":"object"}}}}}}}},"components":{"schemas":{"CreateUserDTO":{"type":"object","properties":{"firstname":{"type":"string"},"lastname":{"type":"string"},"lhmextid":{"type":"string"},"email":{"type":"string"},"login":{"type":"string"},"organization":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}}}},"User":{"type":"object","properties":{"id":{"type":"string"},"organization_id":{"type":"string"},"login":{"type":"string"},"firstname":{"type":"string"},"lastname":{"type":"string"},"email":{"type":"string"},"lhmextid":{"type":"string"},"image":{},"image_source":{},"web":{"type":"string"},"phone":{"type":"string"},"fax":{"type":"string"},"mobile":{"type":"string"},"department":{},"street":{"type":"string"},"zip":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"address":{},"vip":{"type":"boolean"},"verified":{"type":"boolean"},"active":{"type":"boolean"},"note":{"type":"string"},"last_login":{},"source":{},"login_failed":{"type":"integer","format":"int32"},"out_of_office":{"type":"boolean"},"out_of_office_start_at":{},"out_of_office_end_at":{},"out_of_office_replacement_id":{},"updated_by_id":{"type":"integer","format":"int32"},"created_by_id":{"type":"integer","format":"int32"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"role_ids":{"type":"array","items":{"type":"string"}},"organization_ids":{"type":"array","items":{}},"authorization_ids":{"type":"array","items":{}},"karma_user_ids":{"type":"array","items":{}},"group_ids":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}},"UpdateOrganizationDTO":{"type":"object","properties":{"name":{"type":"string"},"shared":{"type":"boolean"},"note":{"type":"string"}}},"Organization":{"type":"object","properties":{"id":{"type":"string"},"unternehmensid":{"type":"string"},"name":{"type":"string"},"shared":{"type":"boolean"},"active":{"type":"boolean"},"note":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"member_ids":{"type":"array","items":{"type":"string"}}}},"CreateTicketArticleDTO":{"type":"object","properties":{"subject":{"type":"string"},"body":{"type":"string"},"type":{"type":"string"},"content_type":{"type":"string"},"internal":{"type":"boolean"}}},"CreateTicketDTOV2":{"type":"object","properties":{"title":{"type":"string"},"group":{"type":"string"},"anliegenart":{"type":"string"},"vertrauensniveau":{"type":"string"},"verwendeter_idp_bei_ticketerstellung":{"type":"string"},"direktkennwort":{"type":"string"},"article":{"$ref":"#/components/schemas/CreateTicketArticleDTO"},"additionalData":{"type":"object","additionalProperties":{"type":"string"}}}},"ArticleAttachment":{"type":"object","properties":{"id":{"type":"string"},"filename":{"type":"string"},"data":{"type":"string"},"mime-type":{"type":"string"},"preferences":{"type":"object","additionalProperties":{"type":"string"},"writeOnly":true}}},"ArticleInternal":{"type":"object","properties":{"id":{"type":"string"},"ticket_id":{"type":"string"},"type_id":{"type":"string"},"subject":{"type":"string"},"reply_to":{"type":"string"},"content_type":{"type":"string"},"body":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/ArticleAttachment"}},"type":{"type":"string","enum":["email","phone","web","note","sms","chat","fax"]},"sender":{"type":"string","enum":["Agent","Customer","System"]},"from":{"type":"string"},"sender_id":{"type":"string"},"to":{"type":"string"},"cc":{"type":"string"},"message_id":{"type":"string"},"message_id_md5":{"type":"string"},"in_reply_to":{"type":"string"},"references":{"type":"string"},"internal":{"type":"boolean"},"updated_by_id":{"type":"string"},"created_by_id":{"type":"string"},"origin_by_id":{"type":"string"},"updated_at":{"type":"string","format":"date-time"},"created_by":{"type":"string"},"updated_by":{"type":"string"}}},"TicketInternal":{"type":"object","properties":{"id":{"type":"string"},"group_id":{"type":"string"},"priority_id":{"type":"string"},"state_id":{"type":"string"},"state_external":{"type":"string"},"number":{"type":"string"},"title":{"type":"string"},"organization_id":{"type":"string"},"organizationName":{"type":"string"},"customer_id":{"type":"string"},"note":{"type":"string"},"last_contact_at":{"type":"string","format":"date-time"},"pending_time":{"type":"string"},"close_at":{"type":"string","format":"date-time"},"article_count":{"type":"integer","format":"int32"},"created_at":{"type":"string","format":"date-time"},"article_ids":{"type":"array","items":{"type":"string"}},"durchschnittliche_bearbeitungsdauer":{"type":"string"},"additionalData":{"type":"object","additionalProperties":{}},"owner_id":{"type":"string"},"first_response_at":{"type":"string","format":"date-time"},"first_response_escalation_at":{"type":"string","format":"date-time"},"first_response_in_min":{"type":"number","format":"double"},"first_response_diff_in_min":{"type":"number","format":"double"},"close_escalation_at":{"type":"string","format":"date-time"},"close_in_min":{"type":"number","format":"double"},"close_diff_in_min":{"type":"number","format":"double"},"update_escalation_at":{"type":"string","format":"date-time"},"update_in_min":{"type":"number","format":"double"},"update_diff_in_min":{"type":"number","format":"double"},"last_close_at":{"type":"string","format":"date-time"},"last_contact_agent_at":{"type":"string","format":"date-time"},"last_contact_customer_at":{"type":"string","format":"date-time"},"last_owner_update_at":{"type":"string","format":"date-time"},"create_article_type_id":{"type":"integer","format":"int32"},"create_article_sender_id":{"type":"integer","format":"int32"},"escalation_at":{"type":"string","format":"date-time"},"type":{"type":"string"},"time_unit":{"type":"string"},"updated_by_id":{"type":"integer","format":"int32"},"created_by_id":{"type":"integer","format":"int32"},"updated_at":{"type":"string","format":"date-time"},"vertrauensniveau":{"type":"string"},"verwendeter_idp_bei_ticketerstellung":{"type":"string"},"direktkennwort":{"type":"string"},"sende_nachricht_nach_extern":{"type":"string"},"ticket_time_accounting_ids":{"type":"array","items":{"type":"integer","format":"int32"}},"state":{"type":"string"},"articles":{"type":"array","items":{"$ref":"#/components/schemas/ArticleInternal"}}}},"CreateArticleDTOV2":{"type":"object","properties":{"subject":{"type":"string"},"body":{"type":"string"},"content_type":{"type":"string"},"type":{"type":"string","enum":["email","phone","web","note","sms","chat","fax"]},"internal":{"type":"boolean"},"sender":{"type":"string","enum":["Agent","Customer","System"]},"time_unit":{"type":"string"},"to":{"type":"string"},"cc":{"type":"string"}}},"Article":{"type":"object","properties":{"id":{"type":"string"},"ticket_id":{"type":"string"},"type_id":{"type":"string"},"subject":{"type":"string"},"reply_to":{"type":"string"},"content_type":{"type":"string"},"body":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/ArticleAttachment"}},"type":{"type":"string","enum":["email","phone","web","note","sms","chat","fax"]},"sender":{"type":"string","enum":["Agent","Customer","System"]},"from":{"type":"string"}}},"CreateUserAndTicketDTOV2":{"type":"object","properties":{"createUserDTO":{"$ref":"#/components/schemas/CreateUserDTO"},"createTicketDTO":{"$ref":"#/components/schemas/CreateTicketDTOV2"}}},"UserAndTicketResponseDTO":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/User"},"ticket":{"$ref":"#/components/schemas/TicketInternal"}}},"CreateTicketDTO":{"type":"object","properties":{"title":{"type":"string"},"group":{"type":"string"},"anliegenart":{"type":"string"},"vertrauensniveau":{"type":"string"},"verwendeter_idp_bei_ticketerstellung":{"type":"string"},"direktkennwort":{"type":"string"},"article":{"$ref":"#/components/schemas/CreateTicketArticleDTO"},"additionalData":{"type":"object","additionalProperties":{"type":"string"}}}},"CreateArticleDTO":{"type":"object","properties":{"subject":{"type":"string"},"body":{"type":"string"},"content_type":{"type":"string"},"type":{"type":"string","enum":["email","phone","web","note","sms","chat","fax"]},"internal":{"type":"boolean"},"sender":{"type":"string","enum":["Agent","Customer","System"]},"time_unit":{"type":"string"},"to":{"type":"string"},"cc":{"type":"string"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/ArticleAttachment"}}}},"CreateOrganizationDTO":{"type":"object","properties":{"unternehmensid":{"type":"string"},"name":{"type":"string"},"shared":{"type":"boolean"},"note":{"type":"string"},"member_ids":{"type":"array","items":{"type":"string"}}}},"CreateUserAndTicketDTO":{"type":"object","properties":{"createUserDTO":{"$ref":"#/components/schemas/CreateUserDTO"},"createTicketDTO":{"$ref":"#/components/schemas/CreateTicketDTO"}}},"UpdateTicketArticleDTO":{"type":"object","properties":{"subject":{"type":"string"},"body":{"type":"string"},"type":{"type":"string","enum":["email","phone","web","note","sms","chat","fax"]},"internal":{"type":"boolean"}}},"UpdateTicketDTOV2":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"group_id":{"type":"string"},"direktkennwort":{"type":"string"},"sende_nachricht_nach_extern":{"type":"string"},"state":{"type":"string","enum":["open","pending reminder","pending close","closed"]},"pending_time":{"type":"string","format":"date-time"},"article":{"$ref":"#/components/schemas/UpdateTicketArticleDTO"}}},"UpdateTicketDTO":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"group_id":{"type":"string"},"direktkennwort":{"type":"string"},"sende_nachricht_nach_extern":{"type":"string"},"state":{"type":"string","enum":["open","pending reminder","pending close","closed"]},"pending_time":{"type":"string","format":"date-time"},"article":{"$ref":"#/components/schemas/UpdateTicketArticleDTO"}}},"Link":{"type":"object","properties":{"href":{"type":"string"},"hreflang":{"type":"string"},"title":{"type":"string"},"type":{"type":"string"},"deprecation":{"type":"string"},"profile":{"type":"string"},"name":{"type":"string"},"templated":{"type":"boolean"}}}},"securitySchemes":{"dbs-ticketing-eai-secscheme":{"type":"openIdConnect","name":"Authorization","in":"header","scheme":"bearer","bearerFormat":"JWT","openIdConnectUrl":"https://ssodev.muenchen.de/auth/realms/KM81/.well-known/openid-configuration"}}}}